/* Base CSS */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");

:root {
  --blue: #3c576a;
  --lightblue: #57a5e0;
  --gray: #a8a8a8;
  --black: #000000;
  --lightblack: #222222;
  --white: #ffffff;
  --offwhite: #e7e7e7;
  --yellow: #ffc600;
}

* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Epilogue", sans-serif;
  color: var(--gray);
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0 0 20px;
  line-height: 1.4;
  color: var(--white);
}
p {
  margin: 0 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  text-decoration: none;
}
a {
  color: var(--white);
  text-decoration: none;
}
a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}
.pb-0{
  padding-bottom: 0px;
}
.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
  display: grid;
  min-height: 100%;
  align-content: center;
  align-items: center;
}

.container.main {
  grid-template-rows: 1fr auto 1fr;
}

.toggle-btn {
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 5px;
  line-height: 1;
  display: none;
}

.toggle-btn img {
  max-width: 35px;
}
.toggle-btn:focus,
.toggle-btn.hover,
.toggle-btn:active {
  outline: none;
  border: none;
}

.primary-btn {
  display: inline-block;
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px;
  transition: all 0.3s ease;
  line-height: 1;
  border: none;
  cursor: pointer;
  outline: none;
}

.primary-btn:hover {
  opacity: 0.9;
  outline: none;
  text-decoration: none;
}

.section-block {
  display: grid;
  grid-template-columns: 11fr 1fr;
  padding: 80px 0px;
  font-size: 20px;
}

.section-block h1 {
  font-size: 40px;
}

.section-block p a {
  font-weight: 700;
  color: var(--white);
}

.section-block p {
  margin-bottom: 20px;
}
.section-block h4 {
  font-size: 20px;
  font-weight: 800;
  color: var(--gray);
  margin-bottom: 50px;
}

/* Main styles */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0px;
  align-self: flex-start;
}
.header .main-menu-wrap {
  display: flex;
  justify-content: flex-end;
}
.header .main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .main-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header .main-menu ul li {
  display: inline-block;
}

.header .main-menu ul li a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--gray);
  position: relative;
  transition: all 0.3s ease;
}
.header .main-menu ul li a:hover {
  color: var(--white);
}
.header .main-menu ul li:last-child a {
  padding-right: 0px;
}
.header .main-menu ul li.active a {
  color: var(--white);
}

.header .main-menu ul li a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 8px;
  height: 4px;
  background-color: transparent;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.header .main-menu ul li:last-child.active a:after {
  left: 60%;
}
.header .main-menu ul li.active a:after,
.header .main-menu ul li a:hover:after {
  background-color: var(--white);
}

.header .logo a {
  display: inline-block;
}

.header .logo a img {
  max-width: 40px;
}
.hero-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 4fr;
  padding: 100px 0px;
}

.hero-section .profile-picture img {
  max-width: 300px;
  border-radius: 50%;
}

.hero-section .about-texts h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--offwhite);
}

.hero-section .about-texts p {
  font-size: 20px;
  margin-bottom: 20px;
}
.hero-section .about-texts p a {
  color: var(--white);
  font-weight: 700;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: flex-end;
  padding: 50px 0px 30px;
  align-items: center;
}

.footer .copyright-text p {
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 700;
}

.footer .footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.footer .footer-menu ul li {
  display: inline-block;
}

.footer .footer-menu ul li a {
  display: block;
  font-weight: 700;
  color: var(--white);
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.footer .footer-menu ul li:last-child a {
  padding-right: 0px;
}

.footer .footer-menu ul li:hover a {
  opacity: 0.8;
}

.help-texts p {
  max-width: 800px;
}

.help-texts .btns .primary-btn {
  margin-right: 20px;
}

.single-service {
  padding-bottom: 50px;
}
.single-service:last-of-type {
  padding-bottom: 0px;
}
.single-service p {
  max-width: 900px;
}

.section-block.services-section {
  grid-template-columns: 1fr;
}

.section-block {
  grid-template-columns: 11fr 1fr;
}
.section-block.collaborate {
  padding-top: 0px;
}

.section-block h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--offwhite);
}

.single-service.project {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.single-service .date {
  text-align: right;
}

.single-service.project:first-of-type .date {
  margin-top: 80px;
}
.section-block.contact {
  padding-top: 0px;
}

.form-group label {
  display: block;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group input,
.form-group select,
.form-group textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 10px 15px;
  background-color: var(--lightblack);
  border: 0px;
  border-bottom: 4px solid transparent;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  background-color: var(--black);
  border-bottom: 4px solid var(--white);
  outline: none;
}

.form-group input:focus + label,
.form-group select:focus + label,
.form-group textarea:focus  + label {
  color: var(--gray);
}

.form-group {
  display: block;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 35px;
}

.contact .primary-btn {
  display: block;
  width: 100%;
}

.section-block.contact .help-texts {
  max-width: 800px;
  padding-bottom: 40px;
}

.form-group textarea {
  min-height: 400px;
}
.pb-0{
  padding-bottom: 0px;
}